<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Batch execution">
  <test thread-count="5" name="TestNgConcept.TC002_Assertitions">
    <classes>
      <class name="TestNgConcept.TC002_Assertitions"/>
      </classes>
      </test>
      
     <test thread-count="5" name="TestNgConcept.TC001_TestConcept">
    <classes>
      <class name="TestNgConcept.TC001_TestConcept"/>
      </classes>
      </test> 
     
       <test thread-count="5" name="TestNgConcept.TC003_Applicationtestcases">
    <classes>
     <class name="TestNgConcept.TC003_Applicationtestcases"/>
      </classes>
      </test> 
     
 
</suite> <!-- Batch execution -->
